apiVersion: v1
kind: Secret
metadata:
  name: tms-secrets
  namespace: tms
type: Opaque
# Your Secrets in base64
data:
  mysql-root-password: xxxxxxxxxxxxxxxxxx
  mysql-password: xxxxxxxxxxxxxxxxxx
  secret-key: xxxxxxxxxxxxxxxxxx
  jwt-secret-key: xxxxxxxxxxxxxxxxxx
  mail-password: xxxxxxxxxxxxxxxxxx